.readings-container-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 500px;
}

.readings-container h1 {
  text-align: center;
  margin-bottom: 50px;
}

.current-year-container {
  margin : 20px 50px;
}
