
.main-form {
  max-width: 80%;
  margin: auto;
  padding: 50px;
}

.new-reading-title-card, .new-reading-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-subtitle {
  padding: 15px;
}

mat-form-field {
  width: 45%;
  &.full-width {
    width: 80%;
    margin-left: 10%;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-card {
  margin: 20px 0;
}
