@if (loading$ | async) {
  <mat-spinner />
}
@if (formInformation$ | async; as formInfo) {
  <mat-card [formGroup]="mainForm" class="main-form">
    <mat-card-header class="new-reading-title-card">
      <mat-card-title>Ajouter une lecture</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br />
      <mat-divider />
      <br />
      <div class="new-reading-info">
        <mat-button-toggle-group [formControl]="readingInfoCtrl">
          <mat-button-toggle value="new-reading">Nouvelle lecture</mat-button-toggle>
          <mat-button-toggle value="re-reading">Relecture</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-card-content>
    <mat-card class="form-card" formGroupName="bookInfo">
      <mat-card-subtitle>Informations générales sur le livre</mat-card-subtitle>
      <mat-card-content>
        @if ( showNewReadingForm$ | async ) {
          <div class="form-row">
            <mat-form-field>
              <mat-label>Titre</mat-label>
              <input type="text" matInput formControlName="title" >
              <mat-error>Ce champ est requis</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Nom de l'auteur</mat-label>
              <input type="text" matInput formControlName="authorName">
              <mat-error>Ce champ est requis</mat-error>
            </mat-form-field>
          </div>
        }
        @if ( showReReadingForm$ | async ) {
          <p>Relecture</p>
        }
        <div class="form-row">
          <mat-form-field>
            <textarea matInput placeholder="Entrez le synopsis du livre" formControlName="synopsis"></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nombre de pages</mat-label>
            <input type="number" matInput formControlName="pageNumber">
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field>
            <mat-label>Genres</mat-label>
            <mat-select [formControl]="genresCtrl" multiple>
              @for (genre of formInfo.genres; track genre) {
                <mat-option [value]="genre">{{ genre }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tropes</mat-label>
            <mat-select [formControl]="tropesCtrl" multiple>
              @for (trope of formInfo.tropes; track trope) {
                <mat-option [value]="trope">{{ trope }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="form-card" formGroupName="sagaInfo">
      <mat-card-subtitle>Univers</mat-card-subtitle>
      <mat-card-content>
        <div class="form-row">
          <mat-label>Est-ce qu'il s'agit d'une saga ?</mat-label>
          <mat-button-toggle-group [formControl]="sagaCtrl">
            <mat-button-toggle value="true">Oui</mat-button-toggle>
            <mat-button-toggle value="false">Non</mat-button-toggle>
          </mat-button-toggle-group>
          </div>
        @if (showSagaForm$ | async ) {
          <div class="form-row">
            <mat-label>Est-ce que tous les tomes de cette saga ont été publiés ?</mat-label>
            <mat-button-toggle-group [formControl]="allTomePublishedCtrl">
              <mat-button-toggle value="true">Oui</mat-button-toggle>
              <mat-button-toggle value="false">Non</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="form-row">
            <mat-form-field>
              <mat-label>Numéro du tome</mat-label>
              <input type="number" matInput formControlName="numberOfTome">
            </mat-form-field>
          </div>
        }
      </mat-card-content>
    </mat-card>
    <mat-card class="form-card" formGroupName="reading">
      <mat-card-subtitle>Lecture</mat-card-subtitle>
      <mat-card-content>
        <div class="form-row">
          <mat-form-field>
            <mat-label>Type de lecture</mat-label>
            <mat-select [formControl]="typeOfReadingCtrl">
              <mat-option [value]="ReadingType.HARDBACK">{{ ReadingType.HARDBACK | uppercase }}</mat-option>
              <mat-option [value]="ReadingType.PAPERBACK">{{ ReadingType.PAPERBACK | uppercase }}</mat-option>
              <mat-option [value]="ReadingType.AUDIO">{{ ReadingType.AUDIO | uppercase }}</mat-option>
              <mat-option [value]="ReadingType.EBOOK">{{ ReadingType.EBOOK | uppercase }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Statut de lecture</mat-label>
            <mat-select [formControl]="statusCtrl">
              <mat-option [value]="StatusType.IN_PROGRESS">{{ StatusType.IN_PROGRESS | uppercase }}</mat-option>
              <mat-option [value]="StatusType.FINISHED">{{ StatusType.FINISHED | uppercase }}</mat-option>
              <mat-option [value]="StatusType.DNF">{{ StatusType.DNF | uppercase }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-row">
          @if ( showFinishedBookForm$ | async) {
          <mat-form-field>
            <mat-label>Dates de lecture</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="Date de début" formControlName="starting"/>
              <input matEndDate placeholder="Date de fin" formControlName="finished"/>
            </mat-date-range-input>
            <mat-hint>JJ/MM/AAAA – JJ/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button matButton matDateRangePickerCancel>Cancel</button>
                <button matButton="elevated" matDateRangePickerApply>Apply</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>
          } @else {
            <mat-form-field>
              <mat-label>Date de début de lecture</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="starting">
              <mat-hint>JJ/MM/AAAA</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          }
        </div>
        @if (showFinishedBookForm$ | async) {
          <mat-card-content>
            <mat-card-subtitle>
              Note : {{getSliderLabel(+slider.value)}}
            </mat-card-subtitle>
              <mat-slider
                [disabled]="false"
                [max]="5.5"
                [min]="0"
                [step]="0.5"
                [discrete]="false"
                [showTickMarks]="true"
              >
                <input matSliderThumb value="3" #slider formControlName="rating">
              </mat-slider>
          </mat-card-content>
        } @else {
          <mat-form-field>
            <mat-label>Page actuelle</mat-label>
            <input type="number" matInput formControlName="currentPage">
          </mat-form-field>
        }
      </mat-card-content>
    </mat-card>
  </mat-card>
}
